#page-successfull{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-primary);
    background-image: url('../../assets/images/success-background.svg');
}

#page-successfull h1{
    font: 700 6.4rem Poppins;
    color: var(--color-title-in-primary);
    margin-top: 4.0rem;
}

#page-successfull p{
    font: 400 2.1rem Poppins;
    color: var(--color-text-in-primary);
}

#page-successfull a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.7rem;
    height: 5.6rem;
    background-color: var(--color-secundary);
    border-radius: 0.8rem;
    text-decoration: none;
    font: 400 1.8rem Archivo;
    text-align: center;
    color: var(--color-button-text);
    margin-top: 8.0rem;
    transition: background-color 0.2s;
}

#page-successfull a:hover{
    background-color: var(--color-secundary-dark);
}